<p class=" display-3 text-center text-success">Technologies</p>

<div class="container" style="width: 500px;">
<ul class="nav justify-content-center bg-success">
    <li class="nav-item">
      <a class="nav-link active text-dark " aria-current="page" routerLink="java"  routerLinkActive="active">Java</a>
    </li>
    <li class="nav-item  ">
      <a class="nav-link text-dark" routerLink="python" routerLinkActive="active">Python</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link text-dark" routerLink="nodejs" routerLinkActive="active">Node js</a>
    </li>
    
  </ul>
</div>


<router-outlet></router-outlet>