<p class=" display-4 text-center text-success" >HOME</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum illum laboriosam temporibus totam iure quidem perspiciatis incidunt natus, excepturi dignissimos!
</p>

<!-- <div class="container">                                          
  <div class="dropdown">
    <button type="button" id="butn" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Select User
    </button>
    <div class="dropdown-menu"  >
      <a *ngFor="let a of data" class="dropdown-item" href="#" (click)="display($event,a)">{{a.id}}</a>
    </div>
  </div>
  <div class="card shadow-md h-100">
      <img  class="p-5"[src]="obj.avatar" height="200px" width="200px">
      <div class="card-body">
          <p class="lead fs-2">{{obj.email}}</p>
          <p class="lead fs-2">{{obj.first_name}} {{obj.last_name}}</p>
      </div>
  </div>

</div> -->
